/*
jusify-content: flex-start | flex-end| center | space-between | space-around | space-evenly
align-items: flex-start | flex-end | center | baseline | stretch 
*/
.container {
	display: flex;
	justify-content: flex-start;
	background-color: #DDD;
}

.child-1 {
	background-color: red;
	flex-basis: 300px;
	flex-shrink: 2;

}
.child-3 {
	background-color: green;
	flex-basis: 201px;
		flex-shrink: 1;

}
.child-2 {
	background-color: blue;
	flex-basis: 201px;
		flex-shrink: 1;

}